<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JAMYO · 橙色风暴</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<link rel="stylesheet" href="index.css">
</head>
<body keyOnClick(event)>
	<div id="example">
		<!-- 抽奖活动说明页 -->
		<div style="background-image: url('./img_1.png');" class="bg" v-if="y1">
		<img src="qrCode.png" alt="" class="erweima">
		</div>

		<!-- 抽奖页 -->
		<div style="background-image: url('./bg_1.jpg');" class="bg" v-if="y3">
			<!-- <div class="y3_div">
			</div> -->
			<div id="text">中奖号码</div>
			<div class="comment-list" >
					<div ref="con1" :class="{anim:animate}">
						<div id="comment1" class="comment-item"  v-for="item in commentList">
							
							<div class="comment-item-content">{{phoneAll}}</div>
						</div>
					</div>
	
			</div>

		</div>
		<!-- 获奖名单页 -->
		<div style="background-image: url('./img_2.png');" class="bg" v-if="y2">
			<ul class="ul_1">
				<li v-for="item in jpList">
					<span>{{item.phone}}</span>
					<span>{{item.remarks}}</span>
				</li>
				
			</ul>
		</div>
		
	</div>
</body>
<script src="index.js"></script>

</html>
