
	*{
		padding: 0;
		margin: 0;
	}
	body,html{
		width: 100%;
		height: 100%;
	}
	
	.bg{
		
		/* background-image: url('images/bg.png'); */
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		background-size: 100% 100%;
		display: flex;
		display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
		display: -moz-box; /* Firefox 17- */
		display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
		display: -moz-flex; /* Firefox 18+ */
		display: -ms-flexbox; /* IE 10 */
		/* flex-direction: column; */
		justify-content: center;
		align-items: center;
	}
	
.erweima{
	margin-top:540px;
	width:180px;
	height:180px;
	background-color:red;
}
.ul_1{
	list-style: none;
	
	width:800px;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top:150px;
}
.ul_1 li{
	color:white;
	width:45%;
	
	margin-top:15px;
	display:flex;
	justify-content: space-around;
}
.y3_div{
	width:150px;
	height:30px;
	background-color:white;
	text-align: center;
	line-height: 30px;
}
.anim{  
	transition: all 250ms;
	margin-top: -97px;
}
.comment-list{
	width: 200px;
	height: 35px;
	overflow: hidden;
	position: absolute;
	background-color: rgb(48, 44, 44);
	border-radius: 9px;
}
.comment-item{
	width: 100%;
	height: 20px;
	margin: 0 auto;
	color: #fff;
	
	/*margin-top: 10px;*/
	/*transition: top  5s;*/
	
}


.comment-item-content{
	display:flex;
	justify-content: center;
	align-items: center;
	margin:8px auto;
	font-size: 20px;
}
#text{
	margin-top:-70px;
	font-size:25px;

	
}